

@import "compass/reset";

body {
	font: 14px/1.5em "Montserrat", sans-serif;
  	background: #F0F1FA;
}

%reset {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
}

%transition {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.tasker {
	max-width: 400px;
	margin: 100px auto 0;
	.error {
		display: none;
		background: rgba(237, 28, 36, 0.7);
		color: #fff;
		padding: 14px;
		margin-bottom: 10px;
		border-radius: 5px;
		text-align: center;
		transition: all 0.3s ease;
	}

	ul {
		@extend %reset;
		background: #fff;
	}

	li,
	.error,
	button,
	input {
		@extend %reset;
		font: 18px/1.25em Helvetica, Arial, Sans-serif;
	}
}

.tasker-header {
	display: inline-flex;
	background: #313e50;;
	justify-content: space-between;
	width: 100%;
	input,
	button {
		color: #fff;
		box-sizing: border-box;
		font-size: 1.25em;
		padding: 14px;
	}

	input {
		flex-grow: 2;
	}

	button {
		cursor: pointer;
		@extend %transition;
		background: #1dd2af;
		border-left: 1px solid #1dd2af;
		&:hover {
			background: #1dd2af;
		}
	}
}

.tasker-body {
	.task {
		display: block;
		position: relative;
		padding: 14px 40px 14px 14px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		li {
			display: block;
		    position: relative;
		    padding: 14px 40px 14px 14px;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		&:last-child {
			border-bottom: none;
		}

		&:hover > button {
			opacity: 1;
		}

		&.completed {
			color: #EDEFF1;
			text-decoration: line-through;
		}

		input {
			margin-right: 10px;
		}

		button {
			@extend %transition;
			color: #EDEFF1;
			margin: 14px;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			&:hover {
				color: #ed1c24;
			}
		}
	}
}